<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <menu>
        <add id="Chauhan_Blog::blog" module="Chauhan_Blog" title="Blog"
        resource="Chauhan_Blog::blog" translate="title" sortOrder="900" action="blog/" />
    </menu>
</config>
